<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tpn.name %>
</p>

<p>
  <b>Aman:</b>
  <%= @tpn.aman %>
</p>

<p>
  <b>Dex:</b>
  <%= @tpn.dex %>
</p>

<p>
  <b>Sod:</b>
  <%= @tpn.sod %>
</p>

<p>
  <b>Pot:</b>
  <%= @tpn.pot %>
</p>

<p>
  <b>Calc:</b>
  <%= @tpn.calc %>
</p>

<p>
  <b>Mag:</b>
  <%= @tpn.mag %>
</p>

<p>
  <b>Phos:</b>
  <%= @tpn.phos %>
</p>

<p>
  <b>Chlor:</b>
  <%= @tpn.chlor %>
</p>

<p>
  <b>Acet:</b>
  <%= @tpn.acet %>
</p>

<p>
  <b>Zinc:</b>
  <%= @tpn.zinc %>
</p>

<p>
  <b>Selen:</b>
  <%= @tpn.selen %>
</p>

<p>
  <b>Iod:</b>
  <%= @tpn.iod %>
</p>

<p>
  <b>Hep:</b>
  <%= @tpn.hep %>
</p>


<%= link_to 'Edit', edit_tpn_path(@tpn) %> |
<%= link_to 'Back', tpns_path %>
